hr {
  border: none;
  border-top: 1px solid #999;
}

h1 {
  text-align: center;
}

.label {
  margin-top: 2rem;
}

.services {
  background: #fff;
  padding: 10px;
  border: solid 5px #ececec;
}

.inputContainer {
  margin-bottom: 15px;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 10px;
}

.container {
  width: 100%;
  padding: 15px;
}

.button {
  border: none;
  width: fit-content;
  color: white;
  font-size: 15px;
  font-weight: bold;
  background: #ff5722;
  padding: 5px 2px;
  border-radius: 5px;
  cursor: pointer;
}

.btnCrear {
  border: none;
  width: fit-content;
  color: white;
  font-size: 20px;
  font-weight: bold;
  background: #ff5722;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background: #ff9a3c;
}

.description {
  inline-size: 620px;
  height: 150px;
  word-break: break-all;
}

.btnServices {
  margin: 0px 10px 0px 10px;
}
