button {
  border: none;
  width: 10rem;
  margin: 1rem 0rem;
  height: auto;
  color: white;
  font-size: 20px;
  font-weight: bold;
  background: #ff5722;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #ffffff00;
  color: #ff5722;
}

.naranja {
  background: #ff5722;
  color: #ececec;
}

.rojo {
  color: red;
}
