.productItem {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  text-align: center;
  margin: 0.5rem;
}

.imagen {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.productItem img {
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  max-width: 70%;
  max-height: 90%;
}

.productItem h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.productItem p {
  font-size: 1em;
  color: #888;
}

.input {
  margin: 0rem 0rem 1rem 0rem;
}

.rojo {
  color: red;
}

.fileInput {
  background-color: #8888882a;
  height: 3.5rem;
  width: fit-content;
}
