.productItem {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  text-align: center;
  margin: 0.5rem;
}

.productItem img {
  height: 300px;
  margin-bottom: 10px;
}

.productItem h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.productItem p {
  font-size: 1em;
  color: #888;
}
