body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: #ececec;
  background-size: cover;
  background-attachment: fixed;
}

* {
  box-sizing: border-box;
}

hr {
  border: none;
  border-top: 1px solid #999;
}

.logo {
  content: url(../../../public/logo.png);
  width: 85px;
  height: 85px;
}

.navLinks {
  list-style: none;
  margin: 0rem;
  pointer-events: none;
  border: none;
}

.navLinks li {
  display: inline-block;
  padding: 0 20px;
}

.navLinks li a {
  pointer-events: all;
}

.navLinks li:hover {
  transform: scale(1.1);
}

.navLinks li link:hover a {
  color: #ff5722;
}

.navLinks li link {
  color: #000000;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 85px;
  padding: 5px 10%;
}

.header .logo {
  cursor: pointer;
  margin-right: auto;
}

.header .logo img {
  height: 70px;
  width: auto;
  transition: all 0.3s;
}

.header .logo img:hover {
  transform: scale(1.2);
}

.header .nav-links {
  list-style: none;
}

.header .nav-links li {
  display: inline-block;
  padding: 0 20px;
}

.header .nav-links li:hover {
  transform: scale(1.1);
}

.header .nav-links a {
  font-size: 700;
  font-weight: bold;
  text-decoration: none;
}

.header .nav-links a:hover {
  color: #ff5722;
}

.header .nav-links .active a {
  font-size: 700;
  font-weight: bold;
  color: #fff;
  padding: px 25px;
  background: #ff5722;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s;
}

.header .nav-links .active a:hover {
  background: #ffbc0e;
}

.contenedor {
  width: 100%;
  padding: 15px;
}

.formulario {
  background: #fff;
  margin-top: 150px;
  padding: 3px;
}

.formulario .subtext {
  color: #999;
}

.formulario h1 {
  text-align: center;
  color: #1a2537;
  font-size: 40px;
}

.formulario input[type="text"],
.formulario input[type="password"] {
  font-size: 20px;
  width: 100%;
  padding: 10px;
  border: none;
}

.input-contenedor {
  margin-bottom: 15px;
}

.input-container {
  margin-bottom: 15px;
}

.icon {
  min-width: 50px;
  text-align: center;
  color: #999;
}

.button:hover {
  background: #ff9a3c;
}

.formulario p {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  padding: 3px;
}

.link {
  text-decoration: none;
  color: #222831;
  font-weight: 600;
}

.link:hover {
  color: #ff5722;
}

.naranja {
  background: #ff5722;
  color: #ececec;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.naranja:hover {
  color: #000000;
}

.naranja:active {
  color: #ececec;
}

@media (min-width: 768px) {
  .formulario {
    margin: auto;
    width: 500px;
    margin-top: 150px;
    border-radius: 2%;
  }
}
