.columna h1 {
    font-weight: 590;
    text-align: left;
    line-height: 130%;
}

.columna p {
    line-height: 160%;
}

.muestras {
    right: 10%;
}

.muestras li {
    display: inline-block;
    text-align: center;
    width: 32%;
    vertical-align: top;
    padding: 30px 20px;
}

.sesion {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 20%;
    height: 25%;
    left: 65%;
    border-radius: 24px;
    align-items: center;
    background: #fff;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    padding: 10px;
}

.sesion button {
    border: none;
    width: fit-content;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background: #ff5722;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.sesion button:hover {
    background: #ff9a3c;
}

.descubre {
    position: absolute;
    right: 20%;
    top: 42%;
    color: #ff5722;
    font-weight: 400;
}